.min-vh-100 {
  min-height: 100vh;
}
.bw2 {
  border-width: 0.25rem;
}
.bt {
  border-top-style: solid;
  border-top-width: 1px;
}
@media (max-width: 620px) {
  body {
    font-family: "Space Grotesk", Arial, sans-serif;
    font-size: 18px;
  }
}
body {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;

  /* 👇 Gradient now always applied */
  background-color: #fff;
  /* background-color: #050736; */
  /* background-image: radial-gradient(
      at 12% 26%,
      rgb(10, 27, 80) 0px,
      transparent 50%
    ),
    radial-gradient(at 48% 55%, hsl(202, 78%, 17%) 0px, transparent 50%),
    radial-gradient(at 28% 95%, hsl(273, 65%, 17%) 0px, transparent 50%),
    radial-gradient(at 42% 60%, hsl(180, 70%, 17%) 0px, transparent 50%),
    radial-gradient(at 62% 19%, hsl(289, 81%, 17%) 0px, transparent 50%),
    radial-gradient(at 79% 79%, hsl(233, 71%, 17%) 0px, transparent 50%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; */
}

@media (prefers-color-scheme: dark) {
  body,
  nav a,
  .new-nav a,
  .main,
  footer a {
    color: hsl(246, 100%, 94%);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #050736;
    /* background-color: #fff; */
    /* background-image: radial-gradient(
        at 12% 26%,
        rgb(10, 27, 80) 0px,
        transparent 50%
      ),
      radial-gradient(at 48% 55%, hsl(202, 78%, 17%) 0px, transparent 50%),
      radial-gradient(at 28% 95%, hsl(273, 65%, 17%) 0px, transparent 50%),
      radial-gradient(at 42% 60%, hsl(180, 70%, 17%) 0px, transparent 50%),
      radial-gradient(at 62% 19%, hsl(289, 81%, 17%) 0px, transparent 50%),
      radial-gradient(at 79% 79%, hsl(233, 71%, 17%) 0px, transparent 50%); */
  }
}

/* About Section */

.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner .product {
  /* background-color: red; */
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  z-index: 1;
  --left: -15px;
}

.banner .product .soda {
  background:
    var(--url) var(--left) 0,
    url(assets/mockup.png);
  background-size: auto 100%;
  width: 280px;
  aspect-ratio: 2/4;
  background-blend-mode: multiply;
  mask-image: url(assets/mockup.png);
  mask-size: auto 100%;
  transition: 0.7s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.banner .product:hover .soda {
  --left: -960px;
  transform: translateX(-50%) translateY(-120px) scale(0.8);
}

.banner .product .soda:nth-child(2) {
  opacity: 0;
}

.banner .product:hover .soda:nth-child(2) {
  opacity: 1;
}
